.iframe-loader {
    background-image: url("../images/msReportsLoad.gif");   
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: 500px;
    border-color: aqua;
   }